/* Masonry Layout Project 05/30/2025 */

body {
    background-color: rgb(246, 25, 13);

}

main {
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    text-align: center;
    color: white;
    text-shadow: black 2px 1px 4px;
    font-size: 2em;
}

img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 15px;
}

section#gallery {
    column-count: 4;
    column-gap: 15px;
}

div.item {
    margin-bottom: 10px;

}

/* Media query for tablet or smaller screens */

@media only screen and (max-width: 760px) {
    section#gallery {
        column-count: 2;
        column-gap: 12px;
    }
}